.letter-spacing {
	 letter-spacing: 5px;
	 font-size: 17px !important;
	 
}
.ct_letter_spacing{
	letter-spacing: 5px;
	font-size: 15px !important;
}
#menuItem2,
#menuItem1,
#menuItem3,
#menuItem4,
#menuItem5,
#menuItem6{
	display:none;
}